.canvas{
    position:absolute;
}

#layer1 {
    z-index:0;
}

#camada2{
    z-index:1;
}

#camada3{
    z-index:2;
}

#camada4{
    z-index:3;
}

#camada5{
    z-index:4;
}

#resources_bar{
	width:1125px;
	height:20px;
	border:1px solid gray;
	background-color:rgb(220,220,220);
}

#progress{
	height:100%;
	width:0%;
	background-color:#FFFF00;
}

#canvas-area{
    border:1px solid gray;
    height:500px;
    width:500px;
    float:left;
}

#key-area{
    border:1px solid gray;
    height:500px;
}

#game-area{
    border:1px solid blue;
}